<div>
    <h1>INGRESO DE PRODUCTOS</h1>

    <form action="http://localhost:8080/api/users" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="name" placeholder="titulo"><br />
        <input type="text" name="description" placeholder="description"><br />
        <input type="number" name="price" placeholder="price"><br />
         <input type="text" name="code" placeholder="code"><br />
          <input type="number" name="stock" placeholder="stock"><br />
        
        <button type="submit">Agregar</button>
    </form>
</div>